.body {
  margin: auto;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
}

.image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border: 2px solid lightgrey;
  border-radius: 3px;
  margin: 0px 5px;
}

.image:hover {

}

.BigImage {
  height: 260px;
  width: 500px;
  background: lightgrey;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.activeImage {
  height: 260px;
}

#rightArrow {
  transform: rotate(0.5turn);
}
